---
layout: page
---

{% assign channel_purpose = page.channel | channel_purpose %}

<p>{{ channel_purpose }}</p>

{% for file in site.data[page.channel] %}
  {% assign date = file[0] %}
  {% assign day_data = file[1] %}
  <h1>{{ date }}</h1>
  <div class="messages">
    {% for message in day_data %}
      {% if message.subtype == "file_share" %}
        {% include filemessage.html %}
      {% comment %} These types have no user directly, causing a nilclass error in message.html {% endcomment %}
      {% elsif message.subtype == "file_comment" %}
        {% include file_comment.html %}
      {% elsif message.subtype == "bot_message" %}
        <div class="message"><div class="msg"><em>Bot messages not yet supported</em></div></div>
      {% else %}
        {% include message.html %}
      {% endif %}
    {% endfor %}
  </div>
{% endfor %}
